.wrapper {
  
  max-height: 40vh;
  overflow-y: auto;
  padding: 16px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.9);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    li{
      width: 100%;
      align-items: center;
      text-align: center;
      padding: 8px;
      border-radius: 8px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
      }
    }
  }
}

.trigger {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 0.9em;
}