.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  padding: 16px;
  min-height: 150px;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
}

.body {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  width: 100%;
}

.dataWrapper {
  text-align: end;
}

.temperature {
  font-weight: bold;
  font-size: 2rem;
}
.condition {
  text-transform: capitalize;
  font-size: 0.7rem;
  margin-top: -8px;
}
.location {
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 4px;
}