.page {
  --background: #fafafa;
  --foreground: rgba(0, 0, 0, 0.1);

  --text-primary: #000;
  --text-secondary: #f0f0f0;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  --card-radius: 16px;
  
  --cell-radius: 8px;

  display: flex;
  min-height: 100vh;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-image: url("./assets/img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}